.header{
    padding: var(--padding);
}

.header nav{
    display: flex;
    justify-content: space-between;
}

.header nav ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: var(--font-size-n);
    font-weight: 500;
}

.header nav b{
    color: var(--primary-color);
}