.blog {
  max-width: 1300px;
  margin: 5rem auto;
}
.blog .blog_posts {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.blog .blog_post {
  max-width: 450px;
  width: 100%;
  height: 350px;
  background: var(--accent-bg);
  border-radius: 30px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.blog_post .blog_post__content {
  padding: 30px;
  transition: 0.5s;
}

.blog .blog_post:hover {
  transform: translateY(-0.8rem);
}

.blog_post .blog_post__content h1 {
  font-size: var(--font-size-nt);
  line-height: 1.5;
  margin-bottom: 20px;
}

.blog_post .blog_post__content p {
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 30px;
}

.blog_post .blog_post__content div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog_post .blog_post__content .type {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: var(--font-size-s);
  font-weight: 600;
  color: var(--title-color);
  text-transform: uppercase;
  background: var(--primary-color);
}

.blog_post .blog_post__content .link {
  font-size: var(--font-size-n);
  display: grid;
  place-items: center;
}

@media screen and (max-width: 1024px) {
  .blog .blog_posts {
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog .blog_post {
    height: fit-content;
  }

  .blog .blog_post:hover {
    transform: translateY(0);
  }
}
